<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Confirmation de votre commande</h1>
    <p>
      <%= @user.first_name %> Merci de votre confiance. <br> Nous vous confirmons l'envoi de vos articles :
    </p>
    <br>
    
    <p>
      Pour accéder à ton espace client, connectez-vous via : <%= @url %>.
    </p>
    <p> À très vite sur bryan-ajaro.fr !
  </body>
</html>
