<footer>
      <div class="footer-back">
        <div class="social">
          <div class="row">
            <a href="https://www.facebook.com" class="form-social" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com" class="form-social" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com" class="form-social" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://twitter.com" class="form-social" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
            <br>
          </div>
          <br>
        </div>
        <br>
        <small class="text">Copyright © 2019 Bryan Ajaro. All rights reserved.</small>
      </div>
</footer>
